:host { // prevent style bleeding, style isolation
    text-align: left;
    font-family: 'Helvetica Neue', sans-serif;
    margin: 5px 0;
    display: block;
    width: 100%;

    .message-name-timestamp {
        padding: 2px 10px;
        display: flex;
        justify-content: space-between;
        font-size: 15px;
        color: #555555;
    }

    .message-text {
        color: #1a1a1a;
        background-color: #f1f0f0;
        border-radius: 12px;
        padding: 5px 10px;
        font-size: 18px;
        white-space: pre-wrap;
    }
}