:host {
    display: flex;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-left: 1px solid #555555;
    border-right: 1px solid #555555;
    width: 500px;
    margin: 0 auto;
}